


h1 {

text-align: center;
font-family: fantasy;
font-size: 96px;
}

header {
background-color: rgb(255, 224, 224);
margin: 30px;
padding: 10px;
border-radius: 20%;

}

.images{
    width: 350px;
    height: 250px;
    display: inline;
    margin: 40px;
    border-radius: 10%;
    border: solid 2px rgb(110, 255, 245);
}

.recipe-description {
    text-align: justify;
    font-family: fantasy;
}

.list {
    display: inline;
}

body{

}